body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav a, footer p {
    color: #fff;
}

section {
    padding: 2rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.intro-content {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);    
}

.intro img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}