body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav a, footer p {
    color: #fff;
}

section {
    padding: 2rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 200px; /* Adjust the second column width as needed */
    gap: 20px; /* Optional: Add spacing between the text and image */
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
  }
  
  .intro img {
    max-width: 200px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
  }

  .experience-item img {
    max-width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    float: right; /* Position image to the right */
    margin-left: 20px; /* Optional: Add spacing between text and image */
  }