body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav a, footer p {
    color: #fff;
}

section {
    padding: 2rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.intro-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Align items vertically   
   */
  }
  
  .intro img {
    max-width: 200px; /* Adjust width as needed */
    border-radius: 50%;
    margin-bottom: 0; /* Remove bottom margin */
    order: 2; /* Move the image to the right */
  }